@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lato:wght@300;400;700&family=Lobster&family=Open+Sans:wght@300&family=Plus+Jakarta+Sans:wght@200&family=Roboto:wght@100;300&family=Work+Sans:ital,wght@0,300;1,300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans";
}
body{
    font-size: 2em;

}
.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding:20px;
    width: 600px;
    max-width: 100%;
    border-radius: 30px;
    background-color: white;
}
p{
    font-size: 0.8em;
}
label{
    font-size: 0.6em;
}

form{
display: flex;
flex-direction: column;
gap:5px;
width: 80%;

}
input{
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(206, 222, 252);
    padding:10px;  
}
.btnLogin{
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.btn{
    border: none;
    background-color:rgb(255, 251, 0);
    color:black;
    font-size:0.5em;
    font-weight: bold;
    border-radius:50px;
    width: 50%;
}
.btn:hover{
    background-color: black;
    color:rgb(255, 251, 0);
    cursor:pointer;
    transition: all 0.3s;
}

