@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lato:wght@300;400;700&family=Lobster&family=Open+Sans:wght@300&family=Plus+Jakarta+Sans:wght@200&family=Roboto:wght@100;300&family=Work+Sans:ital,wght@0,300;1,300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans";
    
}
body{
    background-image: url(https://wallpapercave.com/wp/wp9497547.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:320px 73.5px;
}

.nav-bar-container {
    display:flex;
    justify-content: space-between;
    background-color: black;
    
}

.img img{
    width:70px;
    margin-left:15px;
    background-color: white;
    border-radius: 30%;    
}


.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-right:15px;
    list-style: none;
    
}
.menu-item{
    height: 100%;
    display: flex;
    align-items: center;
        
}
.menu-item .container{
    position:relative;
}
.menu-link{
    height: 100%;
    display:flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.submenu{
    list-style: none;
    display: flex;
    flex-direction: column;
    position:absolute;
    top:73.5px;
}
.submenu-item{
    
    background-color: black;
    height: 0;
    visibility: hidden;
    opacity: 0; 
}
.submenu-item .menu-link{
    color:white;
    
}
.menu-item:hover .submenu-item{
    visibility: visible;
    opacity: 1;
    height: auto;
    padding:20px;
    transition: all 0.3s;
    height: 100%;
}
.submenu-item:hover{
background-color: white;
}
.submenu-item:hover .menu-link{
   color:black;
   font-weight: bold;
}


