*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    background-image: url(https://wallpapercave.com/wp/wp9497547.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.nav-bar-container {
    display:flex;
    justify-content: space-between;
    background-color: black;
}

.img img{
    width:70px;
    margin-left:15px;
    background-color: white;
    border-radius: 30%;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-right:15px;
    list-style: none;
    
}
.menu-item{
    height: 100%;
    display: flex;
    align-items: center;
        
}
.menu-item .container{
    position:relative;
}
.menu-link{
    height: 100%;
    display:flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.submenu{
    list-style: none;
    display: flex;
    flex-direction: column;
    position:absolute;
    top:74px;
}
.submenu-item{
    
    background-color: black;
    height: 0;
    visibility: hidden;
    opacity: 0; 
}
.submenu-item .menu-link{
    color:white;
}
.menu-item:hover .submenu-item{
    visibility: visible;
    opacity: 1;
    height: auto;
    padding:20px;
    transition: all 0.3s;
    height: 100%;
}
.submenu-item:hover{
background-color: white;
}
.submenu-item:hover .menu-link{
   color:black;
}


