*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
main{
    margin-left: 320px;
    margin-top:-678px;
    display: flex;
    flex-direction: column;
 
}
.productos{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;;
    gap:20px;
    flex-wrap: wrap;
}
.producto{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
    gap:9px;
    box-shadow:0px 5px 10px rgb(70, 70, 70);
}
i.fa-brands.fa-apple{
    font-size: 20vh;
}
a{
    text-decoration: none;
    font-weight: bolder;
}
.btnInformacion{
    padding:15px;
    border-radius:50px;
    border:none;
    background-color: black;
    color:white;
    font-weight: bold;
    cursor: pointer;
}
.btnInformacion:hover{
    transition: all 0.2s;
    box-shadow: inset 0 0 15px rgb(255, 255, 255); 
}
.producto:hover{
    transition: all 0.3s;
    transform: scale(1.1);
}
.video-iphone{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px; 
}







